.searchbar{
    padding-top: 3%;
    padding-bottom: 2%
}

img{
    width: auto;
    height: auto;
}

.main-img{
    padding-left: 40%;
}

.loading-img{
    padding-left: 32%;
}

.error-img{
    padding-left: 32%;
}

p{
    padding-top: 8%;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    text-align: center
}