<div class="searchbar">
  <app-searchbar (textInput)="queryApi($event)"></app-searchbar>
</div>

<div id="progressBar" *ngIf="searchInProgress">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div id="progressBar" *ngIf="!searchInProgress">
  <!-- Need to display a blank box of height = 4px here -->
</div>

<div *ngIf="resultsAvailable">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Search Results"> 
      <app-search-results (filtersEmitter)="queryWithFilters($event)" [apiResponse]="apiResponse" 
      [inputQuery]="query" [retrievalTime]="apiResponseTime" [langCount]="langCount" 
      [cityCount]="cityCount" [topicsCount] = "topicsCount" [verifiedCount]="verifiedCount"></app-search-results>
    </mat-tab>
    <mat-tab label="Statistics"  [apiStats]="apiStats"> 
      <app-search-statistics></app-search-statistics> 
    </mat-tab>
  </mat-tab-group>
</div>


<div *ngIf="!resultsAvailable && !errorOccured && !searchInProgress">
  <p>Please enter a search query ...</p>
  <img class="main-img" src="../../assets/question-bird.png"/>
</div>

<div *ngIf="searchInProgress && !resultsAvailable && !errorOccured">
    <p>Searching tweets ...</p>
    <img class="loading-img" src="../../assets/loading-bird.gif"/>  
</div>

<div *ngIf="errorOccured">
  <p>Oops..! An error occurred :(</p>
  <img class="error-img" src="../../assets/twitter-error.png" />
</div>