.searchbar{
    background:white;
    position: absolute;
    top:0px;
    left:0px;
    height:10%;
    width:100%;
    }
body{
    background: white;

}    
    .filters{
        margin-left: 5px;
    background: white;
    position: absolute;
    top:13%;
    left:0px;
    height:90%;
    width:20%;
    }
    
    
    .results{
    background:black;
    position: absolute;
    top:13%;
    left:20%;
    height:90%;
    width:80%;
    }