.container{
    padding-left: 1px !important;
}

.results-header{
    margin-top: 5px
}

.paginator{
    padding-left: 37%;
}

.results-header{
    font-family: 'Arvo', serif;
    font-size: 1.2rem;
}

.results{
    margin-bottom: 1%
}

.separator{
    width: 90%;
    margin-left: 2%;
    margin-top: -2%;
    margin-bottom: -1%;
}

img{
    border-radius: 50%;
    width: 80%;
    margin-left: 20%;
    margin-top: 20%;
}

.date{
    float: right;
}

.tweet-card-title{
    display: inline;
}

.card-title div{
    margin : 0%;
}

.tweet-link{
    float : right;
}

.mat-card{
    padding: 2%;
}

mat-icon{
    font-size : 120%;
}

.row{
    font-size: 0.96em;
}

.user-name img{
    width: 2.5%;
    margin-top: -1%;
    margin-left: 0.8%;
}

.tweets .container{
    border-left: 2px solid rgb(1, 1, 104);
    border-right : 2px solid rgb(1, 1, 104);
}