.container{
    background: white;
    min-height: 700px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.fixed-image{
    position: fixed;
    bottom: 6%;
    right: -2%;
}

.fixed-image img{
    width : 50%
}

footer{
    margin-top : 1%;
    margin-bottom: 1%;
    text-align: center;
}